@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <h2>Dashboard</h2>
                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.SuccessMessage
                        </div>
                    }
                    @{
                        var username = User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;
                        var userId = User.FindFirst("UserId")?.Value;
                        var role = User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
                    }

                    <div>
                        <h2>Welcome, @username!</h2>
                        <p>Your user ID is: @userId</p>
                        <p>Your role is: @role</p>
                    </div>
                    }@{
                        var isAuthenticated = User.Identity.IsAuthenticated;
                        var userName = User.Identity.Name; // This gets the username of the authenticated user
                    }

                    <div>
                        <small>
                            Authenticated: @isAuthenticated <br />
                            UserName: @userName
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


